html, body {
  font-family: 'Helvetica Neue', 'Verdana', sans-serif;
  font-size: 16px;
  display: grid;
  width: 100%;
  min-width: 100%;
  height: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

.title {
  font-size: 1.2rem;
  font-weight: bold;
}

.subtitle {
  font-size: 0.8rem;
  color: #888;
}

#content {
  width: 90%;
  max-width: 850px;
  display: grid;
  justify-self: center;
  overflow-x: hidden;
  word-break: break-word;
}

.container {
  justify-content: center;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 2rem 1fr 2rem;
}

.subreddit .title {
  font-size: 1rem;
  margin: 0.2rem 0;
}

.posts {
  display: grid;
}

h1 {
  font-size: 1rem;
}

.post {
  display: grid;
  padding: 0.2rem 0;
  border-bottom: 1px solid #ddd;
  grid-template-areas:
  "score info"
  "score self"
  "score footer";
  grid-template-columns: 7ch 1fr;
  grid-auto-rows: min-content;
  grid-column-gap: 0.6em;
  height: max-content;
}

.post .score {
  display: grid;
  grid-area: score;
  align-content: center;
  justify-content: end;
  font-size: 0.8rem;
  font-weight: bold;
  max-height: 2em;
}

.post .title {
  font-size: 0.8rem;
  margin: 0.1rem;
  text-decoration: none;
  font-weight: 500;
}

.post .user:before {
  content: "u/"
}

.post .muted-link {
  font-size: 0.6rem;
  font-weight: normal;
  margin: 0.1rem;
  color: #888;
  text-decoration: none;
}

.post .comments {
  font-size: 0.6rem;
  margin: 0.1rem;
  color: #888;
}

.post-footer {
  grid-area: footer;
}

.gap-bar > *:not(:last-child) {
  padding-right: 0.2rem;
  border-right: 2px solid #ddd;
}

.selftext {
  font-size: 0.8rem;
  text-align: justify;
}

.md p {
  margin: 0.4rem 0;
}
