html, body {
  font-family: 'Helvetica Neue', 'Verdana', sans-serif;
  display: grid;
  width: 100%;
  min-width: 100%;
  height: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  align-items: baseline;
}

.title {
  font-size: 1.2rem;
  font-weight: bold;
}

.subtitle {
  font-size: 0.8rem;
  color: #888;
}

#content {
  width: 96%;
  max-width: 1080px;
  display: grid;
  justify-self: center;
  word-break: break-word;
}

.container {
  justify-content: center;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 2rem 1fr 2rem;
}

.subreddit .title {
  font-size: 1rem;
  margin: 0.2rem 0;
}

.posts {
  display: grid;
}

h1 {
  font-size: 1rem;
}

.post {
  display: grid;
  padding: 0.2rem 0;
  border-bottom: 1px solid #ddd;
  grid-template-areas:
  "score info"
  "score self"
  "score footer";
  grid-template-columns: 4ch 1fr;
  grid-auto-rows: min-content;
  grid-column-gap: 0.6em;
  height: max-content;
}

.score {
  display: grid;
  grid-area: score;
  align-content: center;
  justify-content: end;
  font-size: 0.8rem;
  font-weight: bold;
  max-height: 2em;
}

.post .title {
  font-size: 0.8rem;
  margin: 0.1rem;
  text-decoration: none;
  font-weight: 500;
}

.user:before {
  content: "u/"
}

.muted-link {
  font-size: 0.6rem;
  font-weight: normal;
  margin: 0.1rem;
  color: #888;
  text-decoration: none;
}

.post .comments {
  font-size: 0.6rem;
  margin: 0.1rem;
  color: #888;
}

.post-footer {
  grid-area: footer;
}

.gap-bar > *:not(:last-child) {
  padding: 0 0.2rem;
  border-right: 1px solid #ddd;
}

.selftext {
  font-size: 0.8rem;
  padding-left: 0.2rem;
  text-align: justify;
}

.md p {
  margin: 0.4rem 0;
}

.md blockquote {
  color: #888;
  margin: 0.2rem;
  border-left: 1px dotted #ddd;
  padding: 0.2rem 0.4rem;
  padding-right: 0;
}

.md pre {
  white-space: pre-wrap;
  word-wrap: break-word;
  font-size: 0.75rem;
  background: #ddd;
  padding: 0.4rem;
}

.comment-card {
  display: grid;
  padding: 0.1rem 0;
  grid-template-areas:
  "score header"
  "score content"
  "score replies"
  "footer footer";
  grid-template-columns: 1ch auto;
  grid-auto-rows: min-content;
  height: max-content;
}

.comment-card:not(:last-child):after {
  grid-area: footer;
  display: block;
  content: "";
  border-bottom: 1px solid #ddd;
  margin-left: 1.4em;
}

.comment-card .score {
  max-height: 100%;
  width: 100%;
  display: grid;
  font-size: 0.8rem;
  margin-top: -0.4em;
  grid-template-rows: 2rem 1fr;
  grid-template-columns: 1fr;
}

.comment-card .score p {
  font-size: 0.6rem;
  max-height: 2rem;
  align-self: start;
  justify-self: center;
}

.comment-card .score .dotted-border {
  content: "";
  height: 100%;
  justify-self: center;
  border-left: 1px dotted #888;
}

.comment-header {
  grid-area: header;
}

footer {
  text-align: center;
}

footer:before {
  display: block;
  content: " ";
  background: #eee;
  height: 0.1rem;
  margin: 0.8rem;
}

.subtle-link {
  cursor: pointer;
  color: #888;
  font-size: 0.6rem;
}

.comm-score {
  font-weight: bold;
  font-size: 0.6rem;
}
